logic-app/workflow.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",

  "parameters": {
    "newsApiKey": {
      "type": "securestring",
      "metadata": { "description": "NewsAPI.org API key — raw value only, no prefix" }
    },
    "storageConnectionString": {
      "type": "securestring",
      "metadata": { "description": "Azure Storage connection string for blob writes" }
    },
    "bronzeContainer": {
      "type": "string",
      "defaultValue": "articles-bronze",
      "metadata": { "description": "Blob container for raw article JSON (bronze layer)" }
    },
    "ingestCategories": {
      "type": "string",
      "defaultValue": "technology,business,science,health",
      "metadata": { "description": "Comma-separated NewsAPI categories to poll — must match INGEST_CATEGORIES env var" }
    },
    "hashFunctionUrl": {
      "type": "string",
      "metadata": { "description": "URL of fn-hash-url Azure Function" }
    },
    "hashFunctionKey": {
      "type": "securestring",
      "metadata": { "description": "Function key for fn-hash-url" }
    }
  },

  "triggers": {
    "Every_6_hours": {
      "type": "Recurrence",
      "recurrence": {
        "frequency": "Hour",
        "interval": 6,
        "startTime": "2024-01-01T00:00:00Z",
        "timeZone": "UTC"
      },
      "metadata": {
        "comment": "Fires at 00:00, 06:00, 12:00, 18:00 UTC. 4 runs/day × 4 categories = 16 requests/day — well under 100/day free tier limit."
      }
    }
  },

  "actions": {

    "Parse_categories": {
      "type": "InitializeVariable",
      "inputs": {
        "variables": [
          {
            "name": "categories",
            "type": "array",
            "value": "@split(parameters('ingestCategories'), ',')"
          }
        ]
      },
      "runAfter": {}
    },

    "For_each_category": {
      "type": "Foreach",
      "foreach": "@variables('categories')",
      "actions": {

        "Set_category": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "currentCategory",
                "type": "string",
                "value": "@trim(item())"
              }
            ]
          },
          "runAfter": {}
        },

        "Call_NewsAPI_top_headlines": {
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "https://newsapi.org/v2/top-headlines",
            "queries": {
              "category": "@variables('currentCategory')",
              "language": "en",
              "pageSize": "100",
              "page": "1"
            },
            "headers": {
              "X-Api-Key": "@parameters('newsApiKey')"
            },
            "retryPolicy": {
              "type": "exponential",
              "count": 3,
              "interval": "PT10S",
              "minimumInterval": "PT10S",
              "maximumInterval": "PT60S"
            }
          },
          "runAfter": {
            "Set_category": ["Succeeded"]
          }
        },

        "Check_API_status": {
          "type": "If",
          "expression": {
            "and": [
              {
                "equals": [
                  "@body('Call_NewsAPI_top_headlines')?['status']",
                  "ok"
                ]
              }
            ]
          },
          "actions": {

            "For_each_article": {
              "type": "Foreach",
              "foreach": "@body('Call_NewsAPI_top_headlines')?['articles']",
              "actions": {

                "Compute_url_hash": {
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "@{parameters('hashFunctionUrl')}?code=@{parameters('hashFunctionKey')}",
                    "headers": { "Content-Type": "application/json" },
                    "body": { "url": "@{item()?['url']}" },
                    "retryPolicy": { "type": "exponential", "count": 3, "interval": "PT5S" }
                  },
                  "runAfter": {},
                  "metadata": {
                    "comment": "Calls fn-hash-url to compute SHA-256(url)[0:16]. Logic Apps have no native SHA-256 — this tiny function fills the gap."
                  }
                },

                "Extract_url_hash": {
                  "type": "InitializeVariable",
                  "inputs": {
                    "variables": [
                      {
                        "name": "urlHash",
                        "type": "string",
                        "value": "@{body('Compute_url_hash')?['urlHash']}"
                      }
                    ]
                  },
                  "runAfter": {
                    "Compute_url_hash": ["Succeeded"]
                  }
                },

                "Skip_if_no_url": {
                  "type": "If",
                  "expression": {
                    "and": [
                      { "not": { "equals": [ "@item()?['url']", null ] } },
                      { "not": { "equals": [ "@item()?['url']", "" ] } }
                    ]
                  },
                  "actions": {

                    "Build_blob_path": {
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "blobPath",
                            "type": "string",
                            "value": "@{variables('currentCategory')}/@{utcNow('yyyy-MM-dd')}/@{variables('urlHash')}.json"
                          }
                        ]
                      },
                      "runAfter": {}
                    },

                    "Write_article_blob": {
                      "type": "Http",
                      "inputs": {
                        "method": "PUT",
                        "uri": "https://@{split(parameters('storageConnectionString'), 'AccountName=')[1]}.blob.core.windows.net/@{parameters('bronzeContainer')}/@{variables('blobPath')}",
                        "headers": {
                          "x-ms-blob-type": "BlockBlob",
                          "Content-Type": "application/json",
                          "x-ms-version": "2020-04-08"
                        },
                        "body": "@item()",
                        "authentication": {
                          "type": "ManagedServiceIdentity"
                        },
                        "retryPolicy": {
                          "type": "exponential",
                          "count": 3,
                          "interval": "PT5S"
                        }
                      },
                      "runAfter": {
                        "Build_blob_path": ["Succeeded"]
                      },
                      "metadata": {
                        "comment": "Writes INDIVIDUAL article as a blob. NOT the full API response. Each article gets its own blob at category/date/urlHash.json. The blob write is idempotent — same urlHash overwrites the same blob."
                      }
                    }

                  },
                  "else": {
                    "actions": {
                      "Log_missing_url": {
                        "type": "Compose",
                        "inputs": {
                          "level": "warning",
                          "message": "Article skipped — no URL",
                          "title": "@item()?['title']",
                          "category": "@variables('currentCategory')"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Extract_url_hash": ["Succeeded"]
                  }
                }

              },
              "runtimeConfiguration": {
                "concurrency": { "repetitions": 5 }
              }
            }

          },
          "else": {
            "actions": {
              "Log_API_error": {
                "type": "Compose",
                "inputs": {
                  "level": "error",
                  "message": "NewsAPI returned error status",
                  "code": "@body('Call_NewsAPI_top_headlines')?['code']",
                  "apiMessage": "@body('Call_NewsAPI_top_headlines')?['message']",
                  "category": "@variables('currentCategory')",
                  "httpStatus": "@outputs('Call_NewsAPI_top_headlines')['statusCode']"
                }
              }
            }
          },
          "runAfter": {
            "Call_NewsAPI_top_headlines": ["Succeeded", "Failed"]
          }
        }

      },
      "runtimeConfiguration": {
        "concurrency": { "repetitions": 1 },
        "comment": "Sequential category processing to stay within rate limits"
      },
      "runAfter": {
        "Parse_categories": ["Succeeded"]
      }
    }

  }
}